{#{% extends 'base.html' %}#}
{#{% load staticfiles %}#}
{#{% block content %}#}
{##}
{#<div class="content indent">#}
{#    <!--content-->#}
{#    <div class="thumb-box">#}
{#        <div class="container">#}
{#            <h2><strong>Advantages</strong> for Sellers</h2>#}
{#            <div class="thumb-pad6">#}
{#                <div class="thumbnail">#}
{#                    <figure><img src="../static/img/page3_pic1.jpg" alt=""></figure>#}
{#                    <div class="caption">#}
{#                        <h3>Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci.</h3>#}
{#                        <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis.</p>#}
{#                        <ul class="list2-1">#}
{#                            <li>#}
{#                                <span>01/</span>#}
{#                                <div class="extra-wrap">#}
{#                                    <h3>Excepteur sint occaecat cupidatat non </h3>#}
{#                                </div>#}
{#                                <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>#}
{#                            </li>#}
{#                            <li>#}
{#                                <span>02/</span>#}
{#                                <div class="extra-wrap">#}
{#                                    <h3>Praesent vestibulum molestie lacus enean nonum</h3>#}
{#                                </div>#}
{#                                <p>Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris ferme ntum dictum magna. SLorem ipsum dolor sit amet conse ctetur adipisicing elit.</p>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>  #}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="thumb-box9">#}
{#        <div class="container">#}
{#            <h2><strong>Selling</strong> Tips</h2>#}
{#            <div class="row">#}
{#                <div class="col-lg-6 col-md-6 col-sm-6">#}
{#                    <ul class="list1">#}
{#                        <li>#}
{#                            <div class="badge fa fa-star"></div>#}
{#                            <div class="extra-wrap">#}
{#                                <strong>Morbi nunc odio, gravida at, cursus nec, luctus a, lorem aecenas tris.</strong>#}
{#                            </div>#}
{#                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos trud exercitation ullamco laboris nisi ut aliquip ex ea.</p>#}
{#                        </li>#}
{#                        <li>#}
{#                            <div class="badge fa fa-lightbulb-o"></div>#}
{#                            <div class="extra-wrap">#}
{#                                <strong>Excepteur sint occaecat cupidatat non morbi nunc odio, gravida at.</strong>#}
{#                            </div>#}
{#                            <p>Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-lg-6 col-md-6 col-sm-6">#}
{#                    <ul class="list1">#}
{#                        <li>#}
{#                            <div class="badge fa fa-globe"></div>#}
{#                            <div class="extra-wrap">#}
{#                                <strong>Maecenas tristique orci ac sem. Duis ul tricies pharetra magna. </strong>#}
{#                            </div>#}
{#                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. </p>#}
{#                        </li>#}
{#                        <li>#}
{#                            <div class="badge fa fa-gift"></div>#}
{#                            <div class="extra-wrap">#}
{#                                <strong>Duis ultricies pharetra magna. Donec ac cumsan malesuada orci.</strong>#}
{#                            </div>#}
{#                            <p>Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapi bus eget, elementum vel, cursus eleifend, eorem ipsum dolor.</p>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#     <div class="stellar-section">#}
{#    <div class="thumb-box10" data-stellar-background-ratio="0">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-4 col-md-4 col-sm-12 maxheight3 wow fadeInUp">#}
{#                    <div class="box">#}
{#                        <div class="badge">01</div>#}
{#                        <strong>Get Ready to Sell</strong>#}
{#                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim</p>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-4 col-md-4 col-sm-12 maxheight3 wow fadeInUp" data-wow-delay="0.1s">#}
{#                    <div class="box">#}
{#                        <div class="badge">02</div>#}
{#                        <strong>Sell, sell, sell!</strong>#}
{#                        <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. </p>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-4 col-md-4 col-sm-12 maxheight3 wow fadeInUp" data-wow-delay="0.2s">#}
{#                    <div class="box">#}
{#                        <div class="badge">03</div>#}
{#                        <strong>Complete the Sale</strong>#}
{#                        <p>Duis ac turpis. Integer rutrum ante eu lacus. Lorem ipsum dolor sit amet, consectetuer adipis.</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    </div>#}
{#     <div class="thumb-box8 indent">#}
{#        <div class="container">#}
{#            <h2><strong>Market</strong> Analysis</h2>#}
{#            <div class="row">#}
{#                <div class="col-lg-6">#}
{#                    <h3>Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. </h3>#}
{#                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridic ulus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. </p>#}
{#                    <ul class="list1-1">#}
{#                        <li><a href="#">Nonummy hendrerit mauris hasellus porta fusce suscipit varius mi </a></li>#}
{#                        <li><a href="#">Cum sociis natoque penatibus et magnis is parturient montes</a></li>#}
{#                        <li><a href="#">Nascetur ridiculus usce feugiat malesuada odio orbi unc odio gravida at cursus nec luctusa, lorem aecenas tristique orci ac sem</a></li>#}
{#                    </ul>#}
{#                    <a href="#" class="btn-default btn4">Read more</a>#}
{#                </div>#}
{#                <div class="col-lg-6">#}
{#                    <h3>Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem.</h3>#}
{#                    <p>Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. </p>#}
{#                    <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>#}
{#                    <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#     </div>#}
{#</div>#}
{#<!--footer-->#}
{##}
{#<script src="../static/js/bootstrap.min.js"></script>#}
{#<script src="../static/js/tm-scripts.js"></script>#}
{##}
{#{% endblock %}#}
{#</body>#}
{#</html>#}
{#{% extends "base.html" %}#}
{# {% load staticfiles %}#}
{#{% block content %}#}
{##}
{##}
{#
{##}

{##}
{#    {% for sell in sell %}#}
{##}
{##}
{##}
{#        <div class="row">#}
{#            <hr>#}
{##}
{#            <div class="col-md-2 col-sm-3 text-center">#}
{#                <a class="story-img" href="#">#}
{#                    <img src="http://placehold.it/100" style="width:100px; height: 100px; background-color: #12ABB2; color: #ffffff;" class="img-circle">#}
{#                </a>#}
{#            </div>#}
{#            <div class="col-md-4 col-sm-9">#}
{#                <h3>{{ sell.title }}</h3>#}
{#                <div class="row">#}
{#                    <div class="col-xs-9">#}
{#                        <p>{{ sell.content }}</p>#}
{#
{#                        <p>{{ sell.published_date }} | <strong>Views</strong> {{ sell.views }} | <strong>Tag</strong> {{ sell.tag }}</p>#}
{#
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}
{#{% endblock %}#}

{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

     <style>
    body {
        background-color: white;
    }

    .list {
       position: absolute;
        top:310px;
        left: 800px;
        color: red;
        font-size: large;
    }
    </style>




  <button class="btn btn-default, list" onclick="location.href='{% url 'new_post' %}'">List an Item</button>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Description</th>
                <th></th>
                <th>Published date</th>
                <th>Views</th>
                <th>Current bid</th>
                <th></th>
                <th>Buy it Now Price</th>
                <th></th>
                <th>End Date</th>
            </tr>
        </thead>
        <tbody>
            {% for sell in sell %}
                <tr>
                    <td><img height="100" width="100" src="{{ MEDIA_URL }}{{ product.image }}"></td>
                    <td>{{ sell.title }}</td>
                    <td>{{ sell.description }} <br><button class="btn btn-default" onclick="location.href={{ sell.id }}">Read More</button></td>
                    <td></td>
                    <td>{{ sell.published_date }}</td>
                    <td>{{ sell.views }}</td>
                    <td>{{ sell.current_bid }}</td>
                    <td><button> Submit Bid</button></td>
                    <td>{{ sell.buy_it_now }}</td>
                    <td>{{ sell.paypal_form.sandbox }}</td>
                    {#<td>{{ sell.end_date }}</td>#}
                </tr>

{#                 <p><button class="btn btn-default" onclick="location.href={{ sell.id }}">Make a bid</button></p>#}
           {% endfor %}
        </tbody>
    </table>
{% endblock %}