{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<head>

 <style>
    h1 {
        text-align: center;
        color: red;
    }
    .img {
        width: 45%;
        height: auto;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .clicked {
        width: auto;
    }

    </style>

</head>
<body>

    <h1>CHECK OUT SOME OF THESE IMAGES THAT OUR USERS HAVE SENT IN.</h1>

    <h1>SIGN UP AND YOU CAN UPLOAD IMAGES AND VIDEOS OF YOUR HOME LAYOUT</h1>

    <div class="row">
    <div class="col-md-12">
    <img class="img" src="../static/img/gallery1.jpg"/>
    <img class="img" src="../static/img/layout-4.jpg"/>
    </div>
    </div>
    
    <div class="row">
    <div class="col-md-12">
        <img class="img" src="../static/img/layout-1.jpg">
         <img class="img" src="../static/img/layout-2.jpg">
    </div>
    </div>
    </div>
    
    
    
    
    {% for pictures_upload in pictures_upload %}
    <div class="heading">
    <h1>Here are our images</h1>
    </div>
        <div class="pic">
         <img height="150" width="220" src="{{ MEDIA_URL }}{{ pictures_upload.image }}">
        </div>

    {% endfor %}


<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/tm-scripts.js"></script>
{% endblock %}


<script>

    $('img').css ({
        width: 'auto',
        height: 'auto'
    });

</script>
</body>
</html>

