{% extends 'base.html' %}
{% block content %}

<div class="content indent">
    <!--content-->
    <div class="thumb-box11">
        <div class="container">
            <h2><strong>Benefits</strong> for Buyers</h2>
            <div class="row">
                <div class="col-lg-6">
                    <h3>Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit auris.</h3>
                    <p>Cum sociis natoque penatibus et magnis dis partur ient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet.</p>
                    <p>Consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Lorem ipsum dolor sit amet conse ctetur adipisicing elit.</p>
                    <a href="#" class="btn-default btn4">Read more</a>
                </div>
                <div class="col-lg-6">
                    <ul class="list2">
                        <li>
                            <span>01/</span>
                            <div class="extra-wrap">
                                <strong>Praesent vestibulu molestie lacus. Aenean nonummy hendrerit.</strong>
                            </div>
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos trud exercitation ullamco laboris nisi ut aliquip ex ea. Ermentum tumed laoor wrnai. Qua volutpat. Duis ac urpis nteger rutrum ante eu.</p>
                        </li>
                        <li>
                            <span>02/</span>
                            <div class="extra-wrap">
                                <strong>Lorem ipsum dolor sit amet, con sectetuer adipiscing elit. </strong>
                            </div>
                            <p>Lorem ipsum dolor sit at consc tetuer aiing elituris fermentum tumed laoor wrnai. Qua volutpat. Duis ac turpisnteger rutrum ante eu lacuestum liberoisl porta eisque eget malesuada at neqvam. Nulla facilisi. Aenean nec eros. </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="thumb-box3 indent">
        <div class="container">
            <h2><strong>This Week&apos;s</strong> Best Proposals</h2>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
                    <div class="thumb-pad2">
                        <div class="thumbnail">
                            <span>23 : 15 : 25</span>
                            <figure><img src="../static/img/page4_pic1.jpg" alt=""></figure>
                            <div class="caption">
                                <p class="price">Price: $458</p>
                                <strong>386</strong>
                                <a href="#">Excepteur sint occaecat cupidatat non enean.</a><div class="clearfix"></div>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
                    <div class="thumb-pad2">
                        <div class="thumbnail">
                            <span>22 : 10 : 15</span>
                            <figure><img src="../static/img/page4_pic2.jpg" alt=""></figure>
                            <div class="caption">
                                <p class="price">Price: $48</p>
                                <strong>36</strong>
                                <a href="#">Aenean auctor wisi et urna. Aliquam erat.</a><div class="clearfix"></div>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
                    <div class="thumb-pad2">
                        <div class="thumbnail">
                            <span>18 : 15 : 48</span>
                            <figure><img src="../static/img/page4_pic3.jpg" alt=""></figure>
                            <div class="caption">
                                <p class="price">Price: $280</p>
                                <strong>210</strong>
                                <a href="#">Aliquam erat volutpat. Duis ac turpis.</a><div class="clearfix"></div>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
                    <div class="thumb-pad2">
                        <div class="thumbnail">
                            <span>21 : 18 : 27</span>
                            <figure><img src="../static/img/page4_pic4.jpg" alt=""></figure>
                            <div class="caption">
                                <p class="price">Price: $92</p>
                                <strong>87</strong>
                                <a href="#">Integer rutrum ante eu lacus. Lorem ipsum.</a><div class="clearfix"></div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="thumb-box1-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <p>Discount auctions<strong>50% saving</strong></p>
                    <a href="#" class="btn-default btn2">Click here</a>
                </div>
            </div>
        </div>
    </div>
    <div class="thumb-box8 indent">
        <div class="container">
            <h2><strong>FAQ</strong></h2>
            <h3>Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo?</h3>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. </p>
            <h3>Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet?</h3>
            <p>Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet conse.</p>
            <h3>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum?</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Lorem ipsum dolor sit amet, consectetuer adipisc
ing elit. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod.</p>
        </div>
     </div>
</div>
<!--footer-->

<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/tm-scripts.js"></script>

{% endblock %}
</body>
</html>

