{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


<style>
header {
    background-color: red;
}
.right {
    float: right;
}
.left {
    float: left;
}
h3 {
    text-align: center;
    color: red;
}

.thumb-box2 {
    background-color: white;
}
.thumb-box3 {
    background-color: white;
}

</style>
<!--content-->
<div class="content1">
{#    <div class="thumb-box1">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-7 col-md-7 col-sm-12">#}
{#                    <p>Marklin Trains<strong>to buy and sell!</strong></p>#}
{#                    <a href="#" class="btn-default btn2">Register</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <img src="../static/img/marklin-logo.bmp" width="100%%"height="350px">
            <h3>Your one stop shop to buy and sell all marklin items</h3>
    <br>
    <br>
    <br>
    <br>
        <img class= "left" src=" ../static/img/tr003.gif">
        <img class="right" src=" ../static/img/passtrain.gif">
</div>

    <br>
    <br>
    <br>
    <br>

    <div class="thumb-box2">
        <div class="container">
            <h2><strong>Finished</strong> Auctions</h2>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight">
                    <div class="thumb-pad1">
                        <div class="badge">Final price<strong>270</strong></div>
                        <div class="thumbnail">
                            <figure><img src="../static/img/controllers.jpg" height="250px" width="250px" alt=""></figure>
                            <div class="caption">
                                <p>Dual controllers for marklin layout</p>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight">
                    <div class="thumb-pad1">
                        <div class="badge">Final price<strong>210</strong></div>
                        <div class="thumbnail">
                            <figure><img src="../static/img/esso.jpg" height="250px" width="200px" alt=""></figure>
                            <div class="caption">
                                <p>Marklin esso tanker</p>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight">
                    <div class="thumb-pad1">
                        <div class="badge">Final price<strong>250</strong></div>
                        <div class="thumbnail">
                            <figure><img src="../static/img/shed.jpg" alt=""></figure>
                            <div class="caption">
                                <p>Marklin engine shed</p>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight">
                    <div class="thumb-pad1">
                        <div class="badge">Final price<strong>86</strong></div>
                        <div class="thumbnail">
                            <figure><img src="../static/img/track.jpg" height="300px" width="300px" alt=""></figure>
                            <div class="caption">
                                <p>Marklin v-track</p>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#    <div class="thumb-box3">#}
{#        <div class="container">#}
{#            <h2><strong>Current</strong> Auctions</h2>#}
{#            <div class="row">#}
{#                <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">#}
{#                    <div class="thumb-pad2">#}
{#                        <div class="thumbnail">#}
{#                            <span>23 : 15 : 25</span>#}
{#                            <figure><img src="../static/img/crocodile.jpg" height="250px" width="250px" alt=""></figure>#}
{#                            <div class="caption">#}
{#                                <p class="price">Price: $258</p>#}
{#                                <strong>386</strong>#}
{#                                <a href="#">Marklin CCS800 Crocodile</a><div class="clearfix"></div>#}
{#                                <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>#}
{#                            </div>  #}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">#}
{#                    <div class="thumb-pad2">#}
{#                        <div class="thumbnail">#}
{#                            <span>23 : 15 : 25</span>#}
{#                            <figure><img src="../static/img/crane.jpg" height="250px" width="250px" alt=""></figure>#}
{#                            <div class="caption">#}
{#                                <p class="price">Price: $258</p>#}
{#                                <strong>11</strong>#}
{#                                <a href="#">Marklin Goliath crane</a><div class="clearfix"></div>#}
{#                                <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>#}
{#                            </div>  #}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">#}
{#                    <div class="thumb-pad2">#}
{#                        <div class="thumbnail">#}
{#                            <span>23 : 15 : 25</span>#}
{#                            <figure><img src="../static/img/turntable.jpg" height="250px" width="250px" alt=""></figure>#}
{#                            <div class="caption">#}
{#                                <p class="price">Price: $258</p>#}
{#                                <strong>86</strong>#}
{#                                <a href="#">Marklin turntable</a><div class="clearfix"></div>#}
{#                                <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>#}
{#                            </div>  #}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">#}
{#                    <div class="thumb-pad2">#}
{#                        <div class="thumbnail">#}
{#                            <span>23 : 15 : 25</span>#}
{#                            <figure><img src="../static/img/switches.jpg" height="250px" width="250px" alt=""></figure>#}
{#                            <div class="caption">#}
{#                                <p class="price">Price: $258</p>#}
{#                                <strong>27</strong>#}
{#                                <a href="#">Marklin switches controller</a><div class="clearfix"></div>#}
{#                                <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>#}
{#                            </div>  #}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <a href="/sell/" class="btn-default btn4">See all auctions</a>#}
{#        </div>#}
{#    </div>#}
    <div class="thumb-box4">
        <div class="container">
            <h2><strong>How it works</strong></h2>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight3">
                    <div class="box">
                        <div class="badge fa fa-user"></div>
                        <strong>Register</strong>
                        <p>If your not already a member, hit register and signup to be able to either buy or sell different marklin items on the site</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight3">
                    <div class="box">
                        <div class="badge fa fa-money"></div>
                        <strong>Buy or Bid</strong>
                        <p>Once you have became a member, you can then begin to purchase or participate in the auction process</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight3">
                    <div class="box">
                        <div class="badge fa fa-gavel"></div>
                        <strong>Submit a Bid</strong>
                        <p>Having seen something that catches your eye, all you need to do is press "Submit a Bid" and place your offer in order to be in with a shout of winning</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight3">
                    <div class="box">
                        <div class="badge fa fa-trophy"></div>
                        <strong>Win</strong>
                        <p>Hurray, congradulations you are thew highest biddr and the item is now all yours to add to your marklin layout ! </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#    <div class="stellar-section">#}
{#        <div class="thumb-box5" data-stellar-background-ratio="0.1">#}
{#            <div class="container">#}
{#                <h2><strong>Join</strong> the Winners</h2>#}
{#                <div class="box1">#}
{#                    <figure><img src="../static/img/page1_pic9.png" alt=""></figure>#}
{#                    <div class="caption">#}
{#                        <figure><img src="../static/img/page1_pic10.png" alt=""></figure>#}
{#                        <figure><img src="../static/img/page1_pic11.png" alt=""></figure>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="box2">#}
{#                    <div class="caption">#}
{#                        <figure><img src="../static/img/page1_pic12.png" alt=""></figure>#}
{#                        <figure><img src="../static/img/page1_pic13.png" alt=""></figure>#}
{#                    </div>#}
{#                    <figure><img src="../static/img/page1_pic22.png" alt=""></figure>#}
{#                </div>#}
{#                <div class="box3">#}
{#                    <figure><img src="../static/img/page1_pic14.png" alt=""></figure>#}
{#                </div>#}
{#                <div class="box4">#}
{#                    <div class="caption">#}
{#                        <figure><img src="../static/img/page1_pic15.png" alt=""></figure>#}
{#                        <figure><img src="../static/img/page1_pic16.png" alt=""></figure>#}
{#                    </div>#}
{#                    <figure><img src="../static/img/page1_pic17.png" alt=""></figure>#}
{#                </div>#}
{#                <div class="box5">#}
{#                    <figure><img src="../static/img/page1_pic18.png" alt=""></figure>#}
{#                    <div class="caption">#}
{#                        <figure><img src="../static/img/page1_pic19.png" alt=""></figure>#}
{#                        <figure><img src="../static/img/page1_pic20.png" alt=""></figure>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="box3">#}
{#                    <figure><img src="../static/img/page1_pic21.png" alt=""></figure>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div class="thumb-box6">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2><strong>About</strong> Us</h2>
                    <ul class="list1">
                        <li>
                            <div class="badge fa fa-laptop"></div>
                            <div class="extra-wrap">
                                <strong>Online Presence <br></strong>
                            </div>
                            <p>This is the third and final project in this bootcamp. If this website gets decent reviews and comments i do intend to launch this website into a live environment as i believe there is a growing market for such products.  </p>
                        </li>
                        <li>
                            <div class="badge fa fa-thumbs-o-up"></div>
                            <div class="extra-wrap">
                                <strong>Social presence <br>cupidatat non</strong>
                            </div>
                            <p>I also intend to launch multiple different social media platforms in an attempt to connect with my target audience / market. Platforms such as Facebook, and Twitter are very important in the modern era. Also a Youtube channel willv also be added, encouraging users to post videos of their layouts, or purchase reviews etc </p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2><strong>Events</strong></h2>
                    <ul class="list2">
                        <li>
                            <span>01/</span>
                            <div class="extra-wrap">
                                <strong>Swap-Meats <br></strong>
                            </div>
                            <p>Swap meats are a great way for marklin collectors to get together and wheel and deal some of their products. Given the increasing popularity of these events, we hope to host some our own in different venues nationwide. </p>
                        </li>
                        <li>
                            <span>02/</span>
                            <div class="extra-wrap">
                                <strong>Excepteur sint occaecat <br>cupidatat non</strong>
                            </div>
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer-->
{% endblock %}