{% extends 'base.html' %}
{% block content %}
<div class="content indent">
    <!--content-->
    <div class="thumb-box">
        <div class="container">
            <h2><strong>Privacy</strong> Policy</h2>
            <ul class="list8">
                <li class="wow fadeInUp">
                    <h3>Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit auris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. </h3>
                    <p>Cum sociis natoque penatibus et magnis dis partur ient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet. Consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. </p>
                </li>
                <li class="wow fadeInUp">
                    <h3>Consectetuer adipiscing elit auris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus
eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.</h3>
                    <p>Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet. Consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet ali
quam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacusorem ipsum dolor sit amet, consectetuer adipiscing elit.Lorem ipsum dolor sit amet conse ctetur adipisicing elit.</p>
                    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. </p>
                </li>
                <li class="wow fadeInUp">
                    <h3>Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. </h3>
                    <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacusorem ipsum dolor sit amet, consectetuer adipiscing elit.Lorem ipsum dolor sit amet conse ctetur adipisicing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. </p>
                    <p>Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. </p>
                </li>
                <li class="wow fadeInUp">
                    <h3>Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Lorem ipsum dolor sit amet, consectetuer 
adipiscing elit. Praesent vestibulum molestie lacus. Donec sit amet eros. </h3>
                    <p>Duis ac turpis. Integer rutrum ante eu lacusorem ipsum dolor sit amet, consectetuer adipiscing elit.Lorem ipsum dolor sit amet conse ctetur adipisicing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. </p>
                </li>
                <li class="wow fadeInUp">
                    <h3>Duis ac turpis. Integer rutrum ante eu lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
Praesent vestibulum molestie lacus. Donec sit amet eros orem ipsum dolor sit amet.</h3>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                    <p>Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. </p>
                </li>
                <li class="wow fadeInUp">
                    <a href="#" class="mail">privacy@demolink.org</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--footer-->

<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/tm-scripts.js"></script>
<!--coded by lynx-->

{% endblock %}
</body>
</html>