{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


 <div class="thumb-box3">
        <div class="container">
            <h2><strong>Current</strong> Auctions</h2>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
                    <div class="thumb-pad2">
                        <div class="thumbnail">
                            <span>23 : 15 : 25</span>
                            <figure><img src="../static/img/crocodile.jpg" height="250px" width="250px" alt=""></figure>
                            <div class="caption">
                                <p class="price">Price: $258</p>
                                <strong>386</strong>
                                <a href="#">Marklin CCS800 Crocodile engine</a><div class="clearfix"></div>
                                <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
                    <div class="thumb-pad2">
                        <div class="thumbnail">
                            <span>23 : 15 : 25</span>
                            <figure><img src="../static/img/crane.jpg" height="250px" width="250px" alt=""></figure>
                            <div class="caption">
                                <p class="price">Price: $258</p>
                                <strong>11</strong>
                                <a href="#">Marklin Goliath crane</a><div class="clearfix"></div>
                                <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
                    <div class="thumb-pad2">
                        <div class="thumbnail">
                            <span>23 : 15 : 25</span>
                            <figure><img src="../static/img/turntable.jpg" height="250px" width="250px" alt=""></figure>
                            <div class="caption">
                                <p class="price">Price: $258</p>
                                <strong>86</strong>
                                <a href="#">Marklin turntable</a><div class="clearfix"></div>
                                <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
                    <div class="thumb-pad2">
                        <div class="thumbnail">
                            <span>23 : 15 : 25</span>
                            <figure><img src="../static/img/switches.jpg" height="250px" width="250px" alt=""></figure>
                            <div class="caption">
                                <p class="price">Price: $258</p>
                                <strong>27</strong>
                                <a href="#">Marklin switches controller</a><div class="clearfix"></div>
                                <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
 </div>

 <div class="thumb-box3">
        <div class="container">
            <h2>Locomotives</h2>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
                    <div class="thumb-pad2">
                        <div class="thumbnail">
                            <span>23 : 15 : 25</span>
                            <figure><img src="../static/img/p-1.jpg" height="250px" width="250px" alt=""></figure>
                            <div class="caption">
                                <p class="price">Price: $258</p>
                                <strong>386</strong>
                                <a href="#">Marklin CCS800 Crocodile engine</a><div class="clearfix"></div>
                                <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
                    <div class="thumb-pad2">
                        <div class="thumbnail">
                            <span>23 : 15 : 25</span>
                            <figure><img src="../static/img/p-2.jpg" height="250px" width="250px" alt=""></figure>
                            <div class="caption">
                                <p class="price">Price: $258</p>
                                <strong>11</strong>
                                <a href="#">Marklin Goliath crane</a><div class="clearfix"></div>
                                <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
                    <div class="thumb-pad2">
                        <div class="thumbnail">
                            <span>23 : 15 : 25</span>
                            <figure><img src="../static/img/p-3.jpg" height="250px" width="250px" alt=""></figure>
                            <div class="caption">
                                <p class="price">Price: $258</p>
                                <strong>86</strong>
                                <a href="#">Marklin turntable</a><div class="clearfix"></div>
                                <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
                    <div class="thumb-pad2">
                        <div class="thumbnail">
                            <span>23 : 15 : 25</span>
                            <figure><img src="../static/img/p-12.jpg" height="250px" width="250px" alt=""></figure>
                            <div class="caption">
                                <p class="price">Price: $258</p>
                                <strong>27</strong>
                                <a href="#">Marklin switches controller</a><div class="clearfix"></div>
                                <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
 </div>

     <div class="thumb-box3">
        <div class="container">
            <h2>Engines</h2>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
                    <div class="thumb-pad2">
                        <div class="thumbnail">
                            <span>23 : 15 : 25</span>
                            <figure><img src="../static/img/p-4.jpg" height="250px" width="250px" alt=""></figure>
                            <div class="caption">
                                <p class="price">Price: $258</p>
                                <strong>386</strong>
                                <a href="#">Marklin CCS800 Crocodile engine</a><div class="clearfix"></div>
                                <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
                    <div class="thumb-pad2">
                        <div class="thumbnail">
                            <span>23 : 15 : 25</span>
                            <figure><img src="../static/img/p-5.jpg" height="250px" width="250px" alt=""></figure>
                            <div class="caption">
                                <p class="price">Price: $258</p>
                                <strong>11</strong>
                                <a href="#">Marklin Goliath crane</a><div class="clearfix"></div>
                                <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
                    <div class="thumb-pad2">
                        <div class="thumbnail">
                            <span>23 : 15 : 25</span>
                            <figure><img src="../static/img/p-6.jpg" height="250px" width="250px" alt=""></figure>
                            <div class="caption">
                                <p class="price">Price: $258</p>
                                <strong>86</strong>
                                <a href="#">Marklin turntable</a><div class="clearfix"></div>
                                <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
                    <div class="thumb-pad2">
                        <div class="thumbnail">
                            <span>23 : 15 : 25</span>
                            <figure><img src="../static/img/p-11.JPG" height="250px" width="250px" alt=""></figure>
                            <div class="caption">
                                <p class="price">Price: $258</p>
                                <strong>27</strong>
                                <a href="#">Marklin switches controller</a><div class="clearfix"></div>
                                <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
 </div>

 <div class="thumb-box3">
        <div class="container">
            <h2>Track</h2>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
                    <div class="thumb-pad2">
                        <div class="thumbnail">
                            <span>23 : 15 : 25</span>
                            <figure><img src="../static/img/p-7.jpg" height="250px" width="250px" alt=""></figure>
                            <div class="caption">
                                <p class="price">Price: $258</p>
                                <strong>386</strong>
                                <a href="#">Marklin CCS800 Crocodile engine</a><div class="clearfix"></div>
                                <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
                    <div class="thumb-pad2">
                        <div class="thumbnail">
                            <span>23 : 15 : 25</span>
                            <figure><img src="../static/img/p-8.jpg" height="250px" width="250px" alt=""></figure>
                            <div class="caption">
                                <p class="price">Price: $258</p>
                                <strong>11</strong>
                                <a href="#">Marklin Goliath crane</a><div class="clearfix"></div>
                                <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
                    <div class="thumb-pad2">
                        <div class="thumbnail">
                            <span>23 : 15 : 25</span>
                            <figure><img src="../static/img/p-9.jpg" height="250px" width="250px" alt=""></figure>
                            <div class="caption">
                                <p class="price">Price: $258</p>
                                <strong>86</strong>
                                <a href="#">Marklin turntable</a><div class="clearfix"></div>
                                <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
                    <div class="thumb-pad2">
                        <div class="thumbnail">
                            <span>23 : 15 : 25</span>
                            <figure><img src="../static/img/p-10.JPG" height="250px" width="250px" alt=""></figure>
                            <div class="caption">
                                <p class="price">Price: $258</p>
                                <strong>27</strong>
                                <a href="#">Marklin switches controller</a><div class="clearfix"></div>
                                <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
 </div>
























{% endblock %}