{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


 <div class="thumb-box2">
        <div class="container">
            <h2><strong>Products</strong> For Sale</h2>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight">
                    <div class="thumb-pad1">
                        <div class="badge">Final price<strong>270</strong></div>
                        <div class="thumbnail">
                            <figure><img src="../static/img/controllers.jpg" height="250px" width="250px" alt=""></figure>
                            <div class="caption">
                                <p>Dual controllers for marklin layout</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight">
                    <div class="thumb-pad1">
                        <div class="badge">Final price<strong>210</strong></div>
                        <div class="thumbnail">
                            <figure><img src="../static/img/esso.jpg" height="250px" width="200px" alt=""></figure>
                            <div class="caption">
                                <p>Marklin esso tanker</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight">
                    <div class="thumb-pad1">
                        <div class="badge">Final price<strong>250</strong></div>
                        <div class="thumbnail">
                            <figure><img src="../static/img/shed.jpg" alt=""></figure>
                            <div class="caption">
                                <p>Marklin engine shed</p>
                            </div>
                        </div>
                    </div>
                </div>























{% endblock %}