{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="content indent">
    <!--content-->
    <div class="thumb-box">
        <div class="container policy">
             <img src="../static/img/marklin-logo.bmp" width="100%%"height="200px">
            <br>
            <br>
            <br>
            <h2><strong>Selling</strong> Policy for Train Auction Website</h2>
            <ul class="list8">
                <li class="wow fadeInUp">
                    <h3>Knowing the rules and policies on eBay can help you become a more successful seller. So before listing your item, make sure you read, understand, and regularly check our policies (including the rules for sellers and the eBay User Agreement and all applicable laws and regulations on the sale of your item. This can help you avoid potential problems. </h3>
                <ol>
                    <li>Support laws and regulations</li>
                    <li>Minimise risks to sellers</li>
                    <li>Provide equal opportunity to all sellers</li>
                    <li>Protect intellectual property rights</li>
                    <li>Provide an enjoyable buying experience</li>
                    <li>Support the values of the Marklin collectors Community</li>
                </ol>
                </li>
                <li class="wow fadeInUp">
                    <h3>Make sure your listing follows our guidelines. If it doesn't, it may be removed, and your buying and selling privileges could be limited.</h3>
                    <p>Potentially infringing items may be in violation of certain copyrights, trademarks, or other intellectual property rights. So some items aren't allowed (even though they may be legal) because they often violate copyright or trademark laws. This also applies to certain types of information that appear in listings</p>
                </li>
{#                <li class="wow fadeInUp"></li>#}
                <li class="wow fadeInUp">
                    <h3>Listing practices</h3>
                    <p>For a satisfying and fun experience on this site, we're helping sellers list their items in the most effective ways possible. As general rules, sellers have to:</p>
                    <ol>
                        <li>Select a category that matches the item for sale.</li>
                        <li>Provide a clear, honest, and accurate description about the item.</li>
                        <li>Avoid tactics like keyword spamming because they make it hard for people to find what they're looking for.</li>
                    </ol>
                </li>
                <li class="wow fadeInUp">
                    <h3>Reporting breaches of selling policies</h3>
                    <p>If you see a listing that breaches eBay policies, please report it by clicking the Report item link in the listing, or by clicking the Report or Contact Us link located on most of our help pages.</p>
                    <p>When a policy breach occurs, we email the seller and the buyer to let them know that the listing has been removed from this site.

></p>
                    <p>Your participation and vigilance as part of the Marklin community is invaluable in helping us help you be a more successful seller.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab animi corporis culpa dolor dolorem dolores ducimus enim iste libero, nihil perspiciatis quis quisquam repellendus saepe tenetur unde, veritatis vero!</p>
                </li>
                <li class="wow fadeInUp">
                    <a href="#" class="mail">privacy@demolink.org</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--footer-->

<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/tm-scripts.js"></script>
<!--coded by lynx-->

{% endblock %}
</body>
</html>